@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.container{
    display: flex;
    margin-left: 23.5%;
    margin-top: 1%;
    gap: 0px 50px;
}

.category {
    color: rgb(241, 237, 211);
    font-family: "Cabin", sans-serif;
    font-size: 0.85vw;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 700;
} 

button {
    width: auto;
    height: 1.5vw;
    background-color: rgb(65, 33, 33);
    border-radius: 5px;
}