@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.historybackground {
    display: flex;
    height: 100vh;
    font-optical-sizing: auto; 
    background-color: rgb(241, 237, 211) ;
    background-position: center;
    background-attachment: fixed;
}

.historybackground .back {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    justify-content: flex-end;
    background-color: rgb(65, 33, 33);
    border-bottom: 4px solid rgb(155, 123, 93) ;
}

.historybackground .back .head {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 13px;
    margin-right: 45vw;
    color: rgb(241, 237, 211);
    font-weight: 300;
}