@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.homebackground {
    display: flex;
    height: 100vh;
    font-optical-sizing: auto; 
    background-color: rgb(241, 237, 211) ;
    background-position: center;
    background-attachment: fixed;
}

.menu {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    justify-content: flex-end;
    background-color: rgb(65, 33, 33);
    border-bottom: 4px solid rgb(155, 123, 93) ;
}

.menu p{
    font-family: "Black Ops One", system-ui;
    margin-top: 18px ;
    margin-right: 20%;
    font-size: 35px;
    color: rgb(241, 237, 211);
}

.history .icon {
    margin-top: 28px ;
    width: 25px;
    height: 25px;
    color: rgb(241, 237, 211);
}

.payment .icon {
    margin-top: 24px ;
    width: 30px;
    height: 30px;
    color: rgb(241, 237, 211);
}

.profile .icon {
    margin-right: 2vw;
    margin-top: 26px ;
    width: 25px;
    height: 25px;
    color: rgb(241, 237, 211);
}