.homebackground {
    display: flex;
    height: 100vh;
    font-optical-sizing: auto; 
    background-color: rgb(241, 237, 211) ;
    background-position: center;
    background-attachment: fixed;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 92%;
    height: 100%;
    background-color: azure;
}

.history .icon {
    margin: 17px 6px 0 6px;
    width: 25px;
    height: 25px;
}

.payment .icon {
    margin: 13px 6px 0 6px;
    width: 30px;
    height: 30px;
}

.profile .icon {
    margin: 15px 6px 0 6px;
    width: 25px;
    height: 25px;
}