@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.homebackground {
    height: 100%;
    font-optical-sizing: auto; 
    background-color: rgb(241, 237, 211) ;
    background-position: center;
    background-attachment: fixed;
}

.menu {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100%;
    height: 5vw;
    justify-content: flex-end;
    background-color: rgb(65, 33, 33);
    border-bottom: 4px solid rgb(155, 123, 93) ;
    align-items: center;
}

.menu p{
    font-family: "Black Ops One", system-ui;
    margin-right: 17.5vw;
    font-size: 2.25vw;
    color: rgb(241, 237, 211);
    white-space: nowrap;
}

.history .icon {
    width: 1.5vw;
    height: 1.5vw;
    color: rgb(241, 237, 211);
}

.payment .icon {
    width: 1.9vw;
    height: 1.9vw;
    color: rgb(241, 237, 211);
}

.profile .icon {
    margin-right: 2vw;
    width: 1.4vw;
    height: 1.4vw;
    color: rgb(241, 237, 211);
}

.name {
    width: 13vw;
    height: 8.5vw;
    background-color: aliceblue;
}

.display {
    margin-left: 1vw;
    margin-top: 10vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw 1vw;
}
