@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.forgotbackground {
  display: flex;
  height: 100vh;
  font-optical-sizing: auto; 
  justify-content: center;
  align-items: center;
  background-image: url('./4428788.jpg');
  background-position: center;
  background-attachment: fixed;
}

.warpForgot {
  margin-top: 5vh;
  border: 2px solid rgb(134, 76, 22);
  border-radius: 10px;
  width: 500px;
  height: 450px;
  backdrop-filter: blur(10px);
  background: transparent;
}

.warpForgot .email {
  font-family: "Archivo Neue", sans-serif;
  text-align: center;
  font-size: 42px;
  margin-top: 10px;
  color: rgb(65, 33, 33);
  font-weight: 600;
}

.warpForgot .word {
  font-family: "Archivo Neue", sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(65, 33, 33);  
}

.warpForgot .emailbox {
  margin-left: 18%;
  margin-top: 10px;
  position: relative ;
  width: 80%;
  height: 40px;
}

.warpForgot input {
  font-family: "Cabin", sans-serif;
  background: transparent;
  width: 80%;
  height: 120%;
  border: none;
  outline: none;
  border: 1px solid rgb(134, 76, 22);
  border-radius: 40px ;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 40px;
  color: rgb(65, 33, 33);
}

.warpForgot .emailbox .mailIcon {
  position: absolute;
  left: 280px;
  top: 30%;
  width: 25px;
  height: 24px;
  color: rgb(134, 76, 22);
}

.warpForgot input::placeholder {
  font-family: "Cabin", sans-serif;
  color: rgb(134, 76, 22);
  position: relative;
}

.warpForgot .submit button[type='submit'] {
  font-family: "Archivo Neue", sans-serif;
  font-weight: 700;
  margin-top: 120px;
  border-radius: 40px;
  border: 1px solid rgb(134, 76, 22);
  outline: none;
  width: 65%;
  height: 45px;
  background: rgb(241, 237, 211);
  font-size: 22px;
  margin-left: 18%;
  color: rgb(134, 76, 22);
  font-style: bold;
  cursor: pointer ;
}

.warpForgot .back a {
  color: rgb(65, 33, 33) ;
}

.warpForgot .back {
  margin-top: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}