@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-optical-sizing: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./Background/4428788.jpg');
  background-position: center;
  background-attachment: fixed;
}

.warp h1 {
font-family: "Black Ops One", system-ui;
text-align: center;
margin-top: 8vh;
margin-bottom: 5% ;
font-size: 10vh;
color: rgb(65, 33, 33);
}

.warp-box {
  margin-left:13dvw;
  border: 2px solid rgb(134, 76, 22);
  border-radius: 10px;
  width: 500px;
  height: 450px;
  backdrop-filter: blur(10px);
  background: transparent;
}

.warp h2 {
  font-family: "Archivo Neue", sans-serif;
  text-align: center;
  font-size: 42px;
  margin-top: 35px;
  color: rgb(65, 33, 33);
  font-style: bold;
}

.warp .inputbox {
  margin-left: 18%;
  margin-top: 30px;
  position: relative ;
  width: 80%;
  height: 40px;
}

.warp .inputbox input {
  font-family: "Cabin", sans-serif;
  background: transparent;
  width: 80%;
  height: 120%;
  border: none;
  outline: none;
  border: 1px solid rgb(134, 76, 22);
  border-radius: 40px ;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 38px;
  color: rgb(65, 33, 33);
}

.warp .inputbox input::placeholder {
  font-family: "Cabin", sans-serif;
  color: rgb(134, 76, 22);
  position: relative;
}

.warp .inputbox .icon {
  position: absolute;
  left: 280px;
  top: 30%;
  width: 25px;
  height: 20px;
  color: rgb(134, 76, 22);
}

.forgot-remem {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 18%;
  margin-right: 20%;
}

.forgot-remem a {
  font-family: "Archivo Neue", sans-serif;
  color: rgb(134, 76, 22);
  font-weight: 600;
  text-decoration: none;
}

.forgot-remem .remem {
  font-family: "Archivo Neue", sans-serif;
  font-size: 17px;
  color: rgb(65, 33, 33);
}

.forgot-remem .remem input[type=checkbox] {
  margin-right: 6px;
  line-height: normal;
  height: 13px;
  width: 13px;
  accent-color: rgb(155, 123, 93) ;
}

.singIn button[type='submit'] {
  font-family: "Archivo Neue", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  border-radius: 40px;
  border: 1px solid rgb(134, 76, 22);
  outline: none;
  width: 65%;
  height: 45px;
  background: rgb(241, 237, 211);
  font-size: 22px;
  margin-left: 18%;
  color: rgb(134, 76, 22);
  font-style: bold;
  cursor: pointer ;
}

.account {
  font-family: "Archivo Neue", sans-serif;
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  color: rgb(65, 33, 33);
  
}

.account a {
  color: rgb(134, 76, 22) ;
  font-weight: 700;
  margin-left: 5px;
  text-decoration: none;
}